[Desktop Entry]
Encoding=UTF-8
Name=Change Password
Name[de]=Passwort ändern
Name[es]=Cambiar contraseña
Name[fr]=Changer les mots de passe
Name[id]=Ganti Password
Name[ja]=パスワードの変更
Name[pl]=Zmień Hasło
Name[pt_BR]=Alterando Senhas
Name[pt_PT]=Change Password
Comment=This lets you change the system password
Comment[de]=Dadurch wird das Systempasswort geändert
Comment[es]=Cambie las contraseñas del sistema
Comment[fr]=ceci vous permet de changer les mots de passe du système
Comment[id]=Ini untuk mengganti password sistem
Comment[it]=Permette di cambiare la password del sistema
Comment[ja]=システムパスワードを変更します
Comment[pl]=Pozwala na zmianę hasła w systemie
Comment[pt_BR]=Isso permite que você altere a senha do sistema
Comment[pt_PT]=Isto permite que você altere a password do sistema
Exec=remsu /usr/bin/sparky-passwdchange
Icon=seahorse
Categories=System;
Terminal=False
Type=Application
